@use "../abstracts" as abs;

.form__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    @include abs.breakpoint-down(small) {
        flex-direction: column;
        // padding-top: abs.rem(48px);
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: abs.rem(8px);
        color: var(--text-color-hover);
        max-width: abs.rem(240px);
        width: 100%;
        font-weight: 500;

        input:not(input[type="checkbox"]), button {
            border-radius: abs.rem(8px);
            width: 100%;
            background-color: var(--bg-form);
            border: none;
            height: abs.rem(36px);
            color: var(--text-color-hover);
            font-weight: inherit;
            padding: abs.rem(8px) abs.rem(16px);
            font-size: abs.rem(16px);
        }

        input:focus {
            outline: white abs.rem(2px) solid;
        }

        button {
            cursor: pointer;
            @include abs.ease-in-out(150);
            &:hover {
                background-color: var(--text-color-hover);
                color: var(--bg-form);
            }
        }
    }
}