:root {
    --bg-color: #181818;
    --bg-extra-color: #1e1e1e;
    --main-color: #17b8bd;
    --no-name: #17b8bd;
    --text-color: #53565a;
    --bg-form: #121212;
    --text-color-hover: #e5f4f4;
    --error-extra-color: #791717;
    --colorful-error-color: #da3333;
    --colorful-error-extra-color: #791717;
}