html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Mono", monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a, button {
  font-family: "Red Hat Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-color: #181818;
  --bg-extra-color: #1e1e1e;
  --main-color: #17b8bd;
  --no-name: #17b8bd;
  --text-color: #53565a;
  --bg-form: #121212;
  --text-color-hover: #e5f4f4;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 1;
}
@media (max-width: 576px) {
  .header {
    padding-bottom: 0.5rem;
  }
}

.navbar {
  margin-inline: auto;
  height: 4.1875rem;
  max-width: 72.75rem;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  .navbar {
    max-width: 60.25rem;
  }
}
@media (max-width: 1200px) {
  .navbar {
    max-width: 49.375rem;
  }
}
@media (max-width: 992px) {
  .navbar {
    max-width: 37.75rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    max-width: 28.125rem;
  }
}
@media (max-width: 576px) {
  .navbar {
    max-width: 100%;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 1rem;
    padding-inline: 1rem;
    justify-content: center;
  }
}
.navbar__main-side {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__main-side > * {
  cursor: pointer;
}
.navbar__main-side .logo {
  width: 4.25rem;
}
.navbar__main-side .nav li {
  transition: all ease-in-out 150ms;
}
.navbar__main-side .nav li:hover {
  color: var(--text-color-hover);
}
.navbar__user-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar__user-actions > * {
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.navbar__user-actions > *:hover {
  color: var(--text-color-hover);
}
.navbar__user-actions > *:hover path {
  fill: var(--text-color-hover);
}

.notifications {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: all ease-in-out 150ms;
}
.notifications .background {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 25rem;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-color);
  transform: translateX(100%);
  right: 0;
  border-radius: 1rem 0 0 1rem;
  gap: 2rem;
  overflow: scroll;
  transition: all ease-in-out 300ms;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (max-width: 992px) {
  .notifications .background {
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .notifications .background {
    max-width: 60%;
  }
}
.notifications .background::-webkit-scrollbar {
  display: none;
}
.notifications.open {
  opacity: 1;
  pointer-events: all;
}
.notifications.open .background {
  transform: translateX(0);
}
.notifications .notification {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-extra-color);
  width: 100%;
  min-height: 8rem;
  height: 20px;
}

.form__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.form__wrapper .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--text-color-hover);
  max-width: 15rem;
  width: 100%;
  font-weight: 500;
}
.form__wrapper .form input:not(input[type=checkbox]), .form__wrapper .form button {
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--bg-form);
  border: none;
  height: 2.25rem;
  color: var(--text-color-hover);
  font-weight: inherit;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.form__wrapper .form input:focus {
  outline: white 0.125rem solid;
}
.form__wrapper .form button {
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.form__wrapper .form button:hover {
  background-color: var(--text-color-hover);
  color: var(--bg-form);
}

.container {
  max-width: 57.5rem;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 45rem;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 40rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 33rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 23.75rem;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-inline: 4rem;
  }
}/*# sourceMappingURL=authentication.css.map */