html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-color: #181818;
  --background-extra-color: #1e1e1e;
  --main-color: #17b8bd;
  --no-name: #17b8bd;
  --text-color: #53565a;
  --no-name: #121212;
  --text-color-hover: #e5f4f4;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 1;
}
@media (max-width: 576px) {
  .header {
    padding-bottom: 0.5rem;
  }
}

.main {
  padding-top: calc(4.1875rem * 2);
}

.container {
  max-width: 57.5rem;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 45rem;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 40rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 33rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 23.75rem;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-inline: 4rem;
  }
}

.navbar {
  margin-inline: auto;
  height: 4.1875rem;
  max-width: 72.75rem;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  .navbar {
    max-width: 60.25rem;
  }
}
@media (max-width: 1200px) {
  .navbar {
    max-width: 49.375rem;
  }
}
@media (max-width: 992px) {
  .navbar {
    max-width: 37.75rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    max-width: 28.125rem;
  }
}
@media (max-width: 576px) {
  .navbar {
    max-width: 100%;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 1rem;
    padding-inline: 1rem;
    justify-content: center;
  }
}
.navbar__main-side {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__main-side > * {
  cursor: pointer;
}
.navbar__main-side .logo {
  width: 4.25rem;
}
.navbar__main-side .nav li {
  transition: all ease-in-out 150ms;
}
.navbar__main-side .nav li:hover {
  color: var(--text-color-hover);
}
.navbar__user-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar__user-actions > * {
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.navbar__user-actions > *:hover {
  color: var(--text-color-hover);
}
.navbar__user-actions > *:hover path {
  fill: var(--text-color-hover);
}

.challenges {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.card__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-top: 1.25rem;
}
@media (max-width: 768px) {
  .card__group {
    font-size: 0.75rem;
    grid-template-columns: 1fr;
  }
}
.card__group__wrapper.one-col .card__group {
  grid-template-columns: repeat(1, 1fr);
}
.card__group__wrapper.one-col .card__group--title svg {
  transform: rotate(90deg);
}
.card__group--title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.card__group--title h2 {
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.card__group--title h2:hover {
  color: var(--main-color);
}
.card__group--title h2:hover path {
  fill: var(--main-color);
}
.card__group--title h2 svg {
  transition: all ease-in-out 300ms;
}
.card__group--title a {
  transition: all ease-in-out 150ms;
}
.card__group--title a:hover {
  color: var(--text-color-hover);
}
.card__group .card {
  height: 12.5rem;
  background-color: var(--background-extra-color);
  border-radius: 18px;
  padding-inline: 1.875rem;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
}
@media (max-width: 1400px) {
  .card__group .card {
    font-size: 0.8125rem;
  }
}
@media (max-width: 992px) {
  .card__group .card {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .card__group .card {
    font-size: 1rem;
  }
}
.card__group .card__wrapper {
  transition: all ease-in-out 300ms;
  transform: translateY(-3rem);
}
@media (max-width: 1200px) {
  .card__group .card__wrapper {
    transform: translateY(-8.25rem);
  }
}
.card__group .card:hover .card__wrapper {
  transform: translateY(0);
}
.card__group .card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875rem;
}
@media (max-width: 1200px) {
  .card__group .card__header {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.card__group .card__header > * {
  transition: all ease-in-out 150ms;
}
.card__group .card__header > *:hover {
  cursor: none;
  color: var(--text-color-hover);
}
.card__group .card__header > *:hover path {
  fill: var(--text-color-hover);
}
.card__group .card__content {
  margin-top: 1.875rem;
}
.card__group .card--title {
  font-size: 1.8em;
  color: var(--main-color);
}
.card__group .card--description {
  line-height: 1.3125rem;
  margin-top: 0.5rem;
  font-size: 1em;
}
.card__group .card .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: 1px -48px 48px 0px #1e1e1e inset;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */