* {
    // Для удобной верстки :3
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Mono', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a, button {
    font-family: 'Red Hat Mono', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}