@use "../abstracts" as abs;

.header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 1;

    @include abs.breakpoint-down(x-small) {
        padding-bottom: abs.rem(8px);
    }
}