@use "../abstracts" as abs;

.header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 1;
   &[data-page="authentication"] {
        @include abs.breakpoint-down(small) {
            position: static;
        }
    }
}